@model Wba.SpyshopActual.Web.ViewModels.ProductIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>
<div class="card-deck">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-4 mb-3">
            <div class="card">
                <partial name="ProductPartial" model="product" />
                <a  asp-action="ProductDetail"  asp-route-prodId="@product.Id" class="btn btn-primary">Show Details</a>
            </div>
        </div>
    }

</div>
