
@{
    ViewData["Title"] = "ProductDetail";
}

<h2>ProductDetail</h2>

<div class="col-sm-4 mb-3">
    <div class="card">
        <partial name="ProductPartial" />
        <a asp-action="Index" class="btn btn-primary">Go Back to Overview</a>
        
    </div>
</div>