@model Wba.SpyshopActual.Web.ViewModels.AccountLoginVM
@{
    ViewData["Title"] = "Login";
}



<div class="row">
    <div class="col-sm-8">

        <h2>Login</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Login" method="post">
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="UserName" class="form-control" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

            </div>


            <div class="form-group row">
                <label asp-for="PassWord" class="col-sm-2 clo-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PassWord" class="form-control" placeholder="PassWord"/>
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group-row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg" >Sign In </button>

                </div>
            </div>

        </form>

    </div>



</div>
